@charset "UTF-8";
@import url('font.css');

/* 채팅방 목록 */
.chat-container {
	padding-left: 15%;
	padding-right: 15%;
	display: flex;
	flex-wrap: wrap;
	font-family: 'WandocleanseaR';
	font-size: 14px;
}

.chat-container .chat-room-list{
	width: 30%;
	display: flex;
	flex-direction: column;
}

.chat-room-list .chat-list{
	min-width: 150px;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.chat-room-list .chat-room{
	padding: 10px;
	cursor: pointer;
	user-select: none;
}

.chat-room-list .chat-title{
	min-width: 150px;
	height: 50px;
	min-height: 50px;
	border-bottom: 1px solid #716d6d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-room-list .chat-title span{
	font-weight: 800;
	font-size: 18px;
}

.chat-room .room-photo{
	width: 50px;
	height: 50px;
	border-style: none;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5%;
}

/* 채팅화면 */
.chat-container .chatting{
	width: 70%;
}
.chatting .profile{
	border-bottom: 1px solid #716d6d;
	height: 50px;
}

.chatting .profile img{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border: rgba(0,0,0,0);
	border-radius: 50%;
}

.chatting .chat-section{
	padding: 15px;
	min-height: 400px;
	overflow: scroll;
	overflow-x: visible;
	max-height: 600px;
}

.chat-section .receive-msg-box{
	display: inline-block;
	padding-left: 10px;
	vertical-align: top;
	width: 90%;
}

.receive-msg-box .receive-msg {
	width: 57%;
}

.receive-msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 6px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.send-msg-box {
	overflow: hidden;
	margin: 26px 0 26px;
}

.send-msg-box .send_msg {
	float: right;
	width: 60%;
}

.send-msg-box .send_msg p {
	background: #AED9DA none repeat scroll 0 0;
	border-radius: 6px;
	font-size: 14px;
	margin: 0;
	color: #4c4c4c;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 10px;
	margin: 8px 0 0;
}

/* 입력창 */
.input-msg-box {
	width: 100%;
	border-top: 1px solid #c4c4c4;
	display: flex;
	align-items: center;
}

.input-msg-box .input-msg {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 95%;
	padding: 10px;
}

.input-msg-box .send-btn {
	background: #05728f none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 33px;
	width: 33px;
}