@charset "UTF-8";

div .gaip-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}

h1 {
	margin-left: -225px;
	margin-bottom: 20px;
}

.gaip-input-check {
	display: flex;
	flex-direction: column;
}


.id_ok {
	font-size: 0.8em;
	color: blue;
	display: none;
	margin-top: -7px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.id_already {
	font-size: 0.8em;
	color: red;
	display: none;
	margin-top: -7px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.pw_glyphicon {
	display: flex;
}

.pw_check {
	display: flex;
}

.glyphicon-ok-sign{
	font-size: 0.8em;
	color: green;
	display: none;
	margin-top: -5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.pw_equal {
	font-size: 0.8em;
	color: green;
	display: none;
	margin-top: -23px;
    margin-left: 27px;
    margin-bottom: 10px;
}

.glyphicon-remove-sign{
	font-size: 0.8em;
	color: red;
	display: none;
	margin-top: -5px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.pw_not_equal,
.pw_not_length,
.pw_not_sc {
	font-size: 0.8em;
	color: red;
	display: none;
	margin-top: -23px;
    margin-left: 27px;
    margin-bottom: 10px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

input {
    display: inline-block;
    width: 360px;
    height: 44px;
    padding: 0 12px;
    border-radius: 7px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 2px solid #d3dce6;
    transition: border-color 200ms ease-in-out;
}

input:focus, input:hover, input:active {
   outline: none;
   box-shadow: none;
   border-color: #0B57A2;
}

label {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
}

.input-btn {
	display: inline-block;
	margin-left: 10px;
	width: 100px;
	height: 36px;
	border: none;
	border-radius: 5px;
	background-color: #0B57A2;
	color: #fff;
	box-shadow: 1px 1px 2px grey;
}

.gaip-cancel-btn {
	margin-left: 63px;
	margin-top: 20px;
}

.gaip-btn {
	display: inline;
	margin-left: 10px;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #0B57A2;
	color: #fff;
	box-shadow: 1px 1px 2px grey;
}

.cancel-btn {
	display: inline;
	margin-left: 10px;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #DB0000;
	color: #fff;
	box-shadow: 1px 1px 2px grey;
}