@charset "UTF-8";

.guestMain-top {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
}

.guestMain-filter {
	position: relative;
	display: flex;
	justify-content: space-around;
	border: 2pt solid #0B57A2;
	border-radius: 1em;
	margin-right: 2%;
	padding: 1% 10% 1% 10%;
}

.guestMain-start, .guestMain-end {
	position: relative;
}

.guestMain-start input {
	border: none;
	height: 30px;
	width: 105px;
	margin-top: 1.8%;
}

.guestMain-end input {
	border: none;
	height: 30px;
	width: 121px;
	margin-top: 1.8%;
}

.guestMain-start label {
	position: absolute;
	margin-left: 10%;
	font-size: 15.3pt;
	margin-top: 1.2%;
}

.guestMain-end label {
	position: absolute;
	margin-left: 10%;
	font-size: 15.3pt;
	margin-top: 1.2%;
}

/* placeholder 없애기 */
.guestMain-filter input[type=date]::-webkit-datetime-edit-text {
	-webkit-appearance: none;
	display: none;
}

.guestMain-filter input[type=date]::-webkit-datetime-edit-month-field {
	-webkit-appearance: none;
	display: none;
}

.guestMain-filter input[type=date]::-webkit-datetime-edit-day-field {
	-webkit-appearance: none;
	display: none;
}

.guestMain-filter input[type=date]::-webkit-datetime-edit-year-field {
	-webkit-appearance: none;
	display: none;
}

.guestMain-filter button {
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
	font-weight: bold;
	font-size: 15pt;
}

.guestMain-search {
	font-size: 2.3em;
	margin-top: 1%;
}

.guestMain-search button {
	background-color: transparent;
	border: none;
}

.guestMain-bottom {
	margin-top: 5%;
}

.guestMain-toproom {
	font-size: 2.6em;
	font-weight: bolder;
	margin-left: 5%;
	display: flex;
	min-width: 10%;
}

.guestMain-toproom i {
	color: red;
}

.guestMain-toproom .heart {
	padding-top: 2px;
}

.guestMain-list {
	margin-top: 2%;
	position: relative;
	overflow: hidden;
}

.guestMain-room {
	border: 2px solid #0B57A2;
	border-radius: 1em;
	height: 380px;
	width: 300px;
	padding: 3% 3%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.guestMain-detail>hr {
	width: 100%;
}

.guestMain-image {
	height: 60%;
}

.guestMain-image img {
	width: 270px;
	height: 200px;
	border: 2px none;
	border-radius: 1em;
}

.guestMain-detail {
	font-size: 0.8em;
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
}

.swiper-container {
	position: static;
}

.guestMain-name {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 7%;
	display: flex;
	text-align: justify;
}

.guestMain-map{
	display: flex;
	height: 100%;
	padding-top: 1px;
}

.guestMain-map .bar{
	padding-left: 7px;
	padding-top: 6px;
}

.guestMain-site {
	display: flex;
	justify-content: flex-start;
	text-align: justify;
	padding: 0;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
    
}

.site-search{
/* 	display: none; */
	visibility:hidden;
	position: absolute;
    top: 65%;
    max-height: 100px;
    z-index: 15;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
    transition: transform 200ms ease-in;
    padding: 1%;
    text-align: center;	
    overflow: auto;
    overflow-x: visible;
}
  
  guestMain-site:focus,
  guestMain-site:active {
    box-shadow: none;
    outline: none;
  } 
  
  guestMain-site > div {
    width: 100%;
    height: auto;
  }

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-button-prev, .swiper-button-next {
	color: #0B57A2 !important;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.swiper-button-prev:hover {
	transform: translateX(-10px);
}

/* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.swiper-button-next:hover {
	transform: translateX(10px);
}

.search_result:hover {
	cursor: pointer;
	background-color: #ddd;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:hover + .search-label,
input[type="radio"]:checked + .search-label{
	background-color: #ddd;
}