@charset "UTF-8";
.guestMain-top{
	display: flex;
	justify-content: center;
	align-items: center;
}

.guestMain-filter{
	display: flex;
	justify-content: space-around;
	border: 2pt solid #0B57A2;
	border-radius: 1em;
	margin-right: 2%;
	padding: 1% 10% 1% 10%; 
}

.guestMain-start, .guestMain-end{
	position: relative;

}

.guestMain-start input{ 
	border: none;
	height: 30px;
	width: 105px;
	margin-top: 1.8%;
} 

.guestMain-end input{ 
	border: none;
	height: 30px;
	width: 121px;
	margin-top: 1.8%;
} 

.guestMain-start label{
	position: absolute;
	margin-left: 10%;
	font-size: 15.3pt;
	margin-top: 1.2%;
}

.guestMain-end label{
	position: absolute;
	margin-left: 10%;
	font-size: 15.3pt;
	margin-top: 1.2%;
}

/* placeholder 없애기 */
.guestMain-filter input[type=date]::-webkit-datetime-edit-text { -webkit-appearance: none; display: none; } 
.guestMain-filter input[type=date]::-webkit-datetime-edit-month-field{ -webkit-appearance: none; display: none; } 
.guestMain-filter input[type=date]::-webkit-datetime-edit-day-field { -webkit-appearance: none; display: none; } 
.guestMain-filter input[type=date]::-webkit-datetime-edit-year-field { -webkit-appearance: none; display: none; }


.guestMain-filter button{
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
	font-weight: bold;
	font-size: 15pt;
}

.guestMain-search{
	font-size: 2.3em;
	margin-top: 1%;
}

.guestMain-search button{
	background-color: transparent;
	border:none;
}

.guestMain-bottom{
	margin-top: 5%;
	
}

.guestMain-toproom{
	font-size: 2.6em;
	font-weight: bolder;
	margin-left: 5%;
}

.guestMain-list{
	margin-top: 5%;
	position: relative;
	overflow: hidden;
	
	
}

.guestMain-room{
	border: 2px solid #0B57A2;
	border-radius: 1em;
	height: 350px;
	width: 300px;
	padding: 3% 3%; 
	cursor: pointer;
	
	
}

.guestMain-image img{
	width: 270px;
	height: 200px;
	border: 2px solid #0B57A2;
	border-radius: 1em;
}

.guestMain-detail{
	margin-top: 10%;
	font-size: 11pt;
	font-weight: bolder;
	
}
.swiper-container{
	position: static;

}

.guestMain-name{
	margin-bottom: 7%;
}





    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      
    }




