@charset "UTF-8";
html, body { position: relative; height: 100vh; }


.guestMain-top{
	display: flex;
	justify-content: center;
	margin-top: 5%;
	align-items: center;
}

.guestMain-filter{
	display: flex;
	justify-content: space-around;
	border: 2pt solid #0B57A2;
	border-radius: 1em;
	margin-right: 2%;
	padding: 1% 10% 1% 10%; 
	font-size: 1.3em;
}

.guestMain-filter button{
	border: 0;
	outline: 0;
	background-color: transparent;
	font-size: 1.2em;
}

.guestMain-search{
	font-size: 2.3em;
}

.guestMain-bottom{
	margin-top: 5%;
}

.guestMain-toproom{
	font-size: 2.6em;
	font-weight: bolder;
}

.guestMain-toproom .glyphicon{
	color: skyblue;
}

.guestMain-list{
	margin-top: 5%;
	position: relative;
	overflow: hidden;
	
}

.guestMain-room{
	border: 2px solid #0B57A2;
	border-radius: 1em;
	height: 350px;
	width: 300px;
	padding: 3% 3%; 
	
}

.guestMain-image img{
	width: 270px;
	height: 200px;
	border: 2px solid #0B57A2;
	border-radius: 1em;
}

.guestMain-detail{
	margin-top: 10%;
	font-size: 11pt;
	font-weight: bolder;
	
}
.swiper-container{
	position: static;

}

.guestMain-name{
	margin-bottom: 7%;
}





    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      
    }




