@charset "UTF-8";

.hostMain-top {
	display: flex;
	justify-content: space-around;
}

.hostMain .card {
	border-radius: 7px !important;
	width: 30%;
	height: 450px;
	margin-bottom: 30px;
	border-radius: 7px !important;
}

.hostMain .card>img {
	border-radius: 7px 7px 0 0 !important;
	height: 220px;
}

.hostMain .card>.top {
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	height: 250px;
}

.hostMain .card-body>.card-title {
	margin-bottom: 20px;
}

.hostMain .card>.bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding-left: 5%;
	padding-right: 5%;
}

.hostMain .card>.bottom>label {
	font-weight: normal;
	margin-top: 5px;
}

.hostMain .card>.bottom:hover {
	background-color: #0B57A2;
	border-radius: 0 0 7px 7px;
	color: white;
}

.hostMain .card>.top>b {
	font-size: 1.5em;
}

.hostMain .card>.top>p {
	margin-top: 10px;
}

.hostMain .hostMain-image>img {
	width: 100%;
	height: 180px;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

.hostMain .hostMain-detail {
	text-align: center;
	padding: 6% 1%;
	align-items: center;
}

.hostMain .hostMain-name {
	font-size: 15pt;
	font-weight: bolder;
}

/* hostMain-middle : 오늘날짜, 상태 탭목록*/
.hostMain .hostMain-middle {
	display: flex;
	justify-content: space-between;
	margin-top: 3%;
}

.hostMain .hostMain-date {
	font-size: 16pt;
	font-weight: bolder;
}

.hostMain .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
	{
	width: 100%;
	font-size: 1.2em;
	color: white !important;
	background-color: #0B57A2 !important;
}

.hostMain .nav-tabs .nav-link {
	width: 100%;
	font-size: 1.2em;
	color: gray !important;
}

.hostMain .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	background-color: rgb(174, 217, 218, 0.3);
}

/* hostMain-bottom : 선택된 상태의 숙소 블록 */
.hostMain .tab-content>.active {
	display: block !important;
	width: 100%;
}

.hostMain .hostMain-reservation {
	border: 2px solid #0B57A2 !important;
	border-radius: 10px !important;
	width: 100%;
	margin-top: 3%;
	padding: 2%;
	cursor: pointer;
	display: flex;
}

.hostMain-number {
	text-align: right;
	font-weight: bolder;
	font-size: 1.2em;
}

.hostMain-content {
	margin-top: 1%;
	display: flex;
	font-weight: bolder;
	font-size: 12pt;
	width: 100%;
	justify-content: space-between;
}

.hostMain .content-bar {
	border: 1px solid gray;
	width: 1px;
	height: 45px;
}

.content-name {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hostMain-content-wrap {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-checkIn, .content-checkOut {
	width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.content-guest {
	width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.content-payment {
	width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.hostMain .content-name {
	font-size: 16pt;
	font-weight: bolder;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.content-name span {
	font-size: 1.2em;
}

.hostMain .content-site {
	font-size: 11pt;
	font-weight: normal;
	margin-top: 1%;
}

.hostMain .content-inDate, .content-outDate, .content-number,
	.content-cost {
	font-weight: normal;
	margin-top: 1%;
}

.nav-tabs {
	border-bottom: 0px !important;
}

.nav-tabs .nav-link {
	border-radius: 3px !important;
}

.hostMain .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: white !important;
}