@charset "UTF-8";

.report-main-wrap {
	padding: 0 5%;
}

.can-wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}

.can-wrap>#can-reser {
	width: 50%;
	height: 35px;
	font-size: 1.0em;
	font-weight: bold;
}
