@charset "UTF-8";

div .main {
	display: flex;
	flex-direction: row;
	justify-content: center;
    margin-top: 50px; 
}

div .mypage-title {
	display: flex;
	justify-content: center;
	margin-left: -320px;
	margin-bottom: 15px;
}

div .mypage-form {
	display: flex;
	justify-content: center;
	
}

div .input {
	width: 100%;
	height: auto;
}

input {
    display: inline;
    width: 360px;
    height: 44px;
    padding: 0 12px;
    border-radius: 7px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 2px solid #d3dce6;
    transition: border-color 200ms ease-in-out;
}

input:focus, input:hover, input:active {
   outline: none;
   box-shadow: none;
   border-color: #0B57A2;
}

label {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
}

.input-btn {
	display: inline;
	margin-left: 10px;
	width: 100px;
	height: 36px;
	border: none;
	border-radius: 5px;
	background-color: #0B57A2;
	color: #fff;
	box-shadow: 2px;
}

div .cardbtn {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* margin-left: 30px; */
	margin-right: 35px;
	margin-top: 20px;
	width: 230px;
	align-items: center;
}

div .btnmypage {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.card-btn {
	display: inline;
	margin-top: 20px;
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #0B57A2;
	color: #fff;
	box-shadow: 2px;
}

.mypage-btn {
	display: inline;
	margin-left: 10px;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #0B57A2;
	color: #fff;
	box-shadow: 2px;
}

.cancel-btn {
	display: inline;
	margin-left: 10px;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #DB0000;
	color: #fff;
	box-shadow: 2px;
}

.pfimg-div>#pfmainimg {
	display: flex;
	justify-content: flex-start;
}

.cardbtn> .photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.cardbtn> .photo> img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

.mypage-update-addr {
	display: flex;
	flex-wrap: wrap;
}

.mypage-update-check {
	display: flex;
	flex-direction: column;
}

.pw_glyphicon {
	display: flex;
}

.pw_check {
	display: flex;
}

.glyphicon-ok-sign{
	font-size: 0.8em;
	color: green;
	display: none;
	margin-top: -5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.pw_equal {
	font-size: 0.8em;
	color: green;
	display: none;
	margin-top: -23px;
    margin-left: 27px;
    margin-bottom: 10px;
}

.glyphicon-remove-sign{
	font-size: 0.8em;
	color: red;
	display: none;
	margin-top: -5px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.pw_not_equal,
.pw_not_length,
.pw_not_sc {
	font-size: 0.8em;
	color: red;
	display: none;
	margin-top: -23px;
    margin-left: 27px;
    margin-bottom: 10px;
}