@charset "UTF-8";

.profile-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
	width: 100%;
}

.profile-main>.profile-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-bottom: 3%;
}

.profile-main>.profile-top>.profile-first {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.profile-main>.profile-top>.profile-second {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2%;
}

.profile-main>.profile-top>.profile-third {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-left: 15%;
}

.profile-main>.profile-top>.profile-third>.profile-like {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.profile-like>i {
	font-size: 2em;
}

.profile-like>i:hover {
	font-size: 2em;
}

.profile-like>.heart-count {
	font-size: 1.5em;
	font-weight: bold;
}

.profile-main>.profile-review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 25px;
	align-items: center;
}

.profile-main>.profile-top>.profile-first>.photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.profile-main>.profile-top>.profile-first>.photo>img {
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.profile-main>.profile-top>.profile-first>.update>.openBtn {
	background-color: #F9B514;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
    width: 150px;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.modal-body input {
	display: block;
	width: 70%;
	height: 35px;
	padding: 0 12px;
	border-radius: 7px;
	font-size: 16px;
	border: 2px solid #d3dce6;
	transition: border-color 200ms ease-in-out;
}

.modal-body input:focus, input:hover, input:active {
	width: 70%;
	outline: none;
	box-shadow: none;
	border-color: #0B57A2;
}

.modal-footer>#bodyBtn {
	width: 25%;
	height: 35px;
}



.profile-main>.profile-review>.hugi>.review-many {
	display: inline;
	margin-left: 545px;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #0B57A2;
	color: #fff;
	box-shadow: 2px;
}

/* 후기 */
.comment-wrap {
	width: 100%;
}

/* .profile-review>.hugi-title {
	margin-bottom: 10px;
}

.profile-review>.hugi-title>.title-r {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 10px;
} */

.comment-wrap>.comment-title {
	margin-bottom: 10px;
}

.comment-wrap>.comment-title>.title {
	font-weight: bold;
	font-size: 2.0em;
	margin-bottom: 10px;
}

.comment>.empty {
	border: 2px solid #0B57A2;
	border-radius: 7px;
	padding: 10px 0;
	font-size: 1.1em;
	padding-left: 10px;
	color: gray;
	font-weight: bold;
}

.co-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.co-wrap>.co-detail {
	display: flex;
	flex-direction: column;
	width: 49%;
	margin-bottom: 1.5%;
	padding: 1%;
}

.co-detail>.mem-detail {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.mem-detail>.mem-img {
	display: flex;
	justify-content: center;
	width: 15%;
	cursor: pointer;
}

.mem-img>img {
	border-radius: 100%;
	width: 80px;
	height: 80px;
}

.mem-detail>.mem-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 68%;	
}

.mem-content>.mem-id {
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
}

.mem-content>.mem-id:hover {
	color: #0B57A2;
}

.mem-detail>.co-heart-wrap {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 15%;
}

.bi-heart {
	font-size: 3.5em;
	display: flex;
	justify-content: center;
	padding-top: 0.4%;
	margin-right: 1%;
	cursor: pointer;
}

.bi-heart:hover {
	font-size: 3.5em;
	color: #EB0000;
	cursor: pointer;
}

.bi-heart-fill {
	font-size: 3.5em;
	display: flex;
	justify-content: center;
	padding-top: 0.4%;
	margin-right: 1%;
	color: #EB0000;
	cursor: pointer;
}

.co-heart-wrap>.co-heart {
	font-size: 2em;
	padding-top: 4%;
}

.co-heart-wrap>.heart-count {
	font-size: 1.3em;
	font-weight: bold;
}

.co-detail>.co-content {
	margin-top: 3.5%;
	padding: 0 5%;
}