@charset "UTF-8";

.profile-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
}

.profile-main>.profile-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.profile-main>.profile-top>.profile-first {
	display: flex;
	flex-direction: column;
	/* margin-top: 20px; */
	width: 180px;
	align-items: center;
	justify-content: flex-start;
	margin-left: 20px;
}

.warn-btn {
	display: inline;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #ff9900;
	color: #fff;
	box-shadow: 2px;
	margin-top: 15px;
}

.profile-main>.profile-top>.profile-second {
	display: flex;
	justify-content: center;
	margin-left: 70px;
}

.profile-main>.profile-top>.profile-third {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 70px;
	margin-top: 20px;
}

.profile-main>.profile-top>.profile-third>.profile-like {
	display: flex;
	justify-content: center;
}

.profile-main>.profile-top>.profile-third>.profile-message {
	display: flex;
	justify-content: center;
}

.profile-main>.profile-review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: -560px;
	margin-top: 25px;
	align-items: center;
}

.profile-main>.profile-top>.profile-first>.photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.profile-main>.profile-top>.profile-first>.photo>img {
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.profile-main>.profile-top>.profile-first>.update>.openBtn {
	background-color: #F9B514;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
    width: 150px;
}

/* .modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal> .bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
	position: absolute;
	background-color: #fff;
	width: 400px;
	height: 200px;
	padding: 15px;
}

.modalBox> .closeBtn {
	display: block;
	width: 80px;
	margin: 0 auto;
} */

.modal-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.modal-body input {
	display: block;
	width: 70%;
	height: 35px;
	padding: 0 12px;
	border-radius: 7px;
	font-size: 16px;
	border: 2px solid #d3dce6;
	transition: border-color 200ms ease-in-out;
}

.modal-body input:focus, input:hover, input:active {
	width: 70%;
	outline: none;
	box-shadow: none;
	border-color: #0B57A2;
}

.modal-footer>#bodyBtn {
	width: 25%;
	height: 35px;
}

.profile-main>.profile-review>.review-many {
	display: inline;
	margin-left: 545px;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #0B57A2;
	color: #fff;
	box-shadow: 2px;
}

/* .hidden {
	display: none;
} */


/* @charset "UTF-8";

.profile-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
}

.profile-main>.memlist>.profile-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.profile-main>.memlist>.profile-top>.profile-first {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 180px;
	align-items: center;
	justify-content: flex-start;
	margin-left: 20px;
}

.warn-btn {
	display: inline;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #ff9900;
	color: #fff;
	box-shadow: 2px;
	margin-top: 15px;
}

.profile-main>.memlist>.profile-top>.profile-second {
	display: flex;
	justify-content: center;
	margin-left: 100px;
}

.profile-main>.memlist>.profile-top>.profile-third {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 100px;
	margin-top: 20px;
}

.profile-main>.memlist>.profile-top>.profile-third>.profile-like {
	display: flex;
	justify-content: center;
}

.profile-main>.memlist>.profile-top>.profile-third>.profile-message {
	display: flex;
	justify-content: center;
}

.profile-main>.memlist>.profile-review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: -560px;
	margin-top: 50px;
	align-items: center;
}

.profile-main>.memlist>.profile-top>.profile-first>.photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.profile-main>.memlist>.profile-top>.profile-first>.photo>img {
	width: 200px;
	height: 150px;
	border-radius: 100%;
}

.profile-main>.memlist>.profile-top>.profile-first>.openBtn {
	background-color: #F9B514;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
    width: 200px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal .bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
	position: absolute;
	background-color: #fff;
	width: 400px;
	height: 200px;
	padding: 15px;
}

.modalBox> .closeBtn {
	display: block;
	width: 80px;
	margin: 0 auto;
}

.hidden {
	display: none;
} */