@charset "UTF-8";

.room-main-wrap {
	display: flex;
	margin: 40px 0;
}

.room-main-wrap>.list {
	width: 45%;
}

.room-main-wrap>.map-wrap {
	width: 55%;
	height: 600px;
	display: flex;
	flex-direction: column;
	padding-left: 1%;
	position: absolute;
	right: 0px;
	padding-right: 5%;
}

.room-main-wrap>.map-wrap>.map {
	width: 100%;
	height: 85%;
	border-radius: 7px;
	border: 2px solid #0B57A2;
}

.room-main-wrap>.list>.room-list-wrap {
	margin-bottom: 10px;
	display: flex;
	cursor: pointer;
}

.room-main-wrap>.list>.room-list-wrap>.photo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35%;
}

.room-main-wrap>.list>.room-list-wrap>.photo img {
	height: 150px;
	margin-right: 15px;
	border-radius: 7px;
	width: 90%;
}

.room-main-wrap>.list>.room-list-wrap>.content>.content-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.room-main-wrap>.list>.room-list-wrap>.content>.content-top b {
	width: 90%;
	font-size: 1.3em;
	color: #0B57A2;
	text-decoration: none;
	padding-right: 5%;
}

.content {
	width: 63%;
}

.content .bi-heart {
	font-size: 1.5em;
	width: 10%;
	display: flex;
	justify-content: center;
	padding-top: 1%;
}

.room-main-wrap>.list>.room-list-wrap>.content .bi-heart:hover {
	font-size: 1.5em;
	color: #EB0000;
}

.content .bi-heart-fill {
	font-size: 1.5em;
	color: #EB0000;
	width: 10%;
	display: flex;
	justify-content: center;
	padding-top: 1%;
}

.room-main-wrap>.list>.room-list-wrap label {
	font-weight: normal;
	color: black;
}

.room-main-wrap>.list>.room-list-wrap>.content>hr {
	width: 100px;
	text-align: left;
	margin: 10px 0;
}

.room-main-wrap>.list>.room-list-wrap>.content>.star-cost {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.star>label>i {
	color: #FFCD28;
	vertical-align: -0.07em;
}