@charset "UTF-8";

.room-detail {
	margin-top: 40px;
	padding: 0 5%;
}

.room-detail>.title {
	font-size: 2.5em;
}

.room-detail>.title>label {
	color: #0B57A2;
}

.room-detail>.addr>label {
	margin-top: 10px;
	font-size: 1.2em;
}

.room-detail>.photo-reser {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 30px;
}

.room-detail>.photo-reser>.price-cal {
	width: 34%;
	margin-right: 1%;
	display: flex;
	flex-direction: column;
}

/* 이미지 슬라이드 */
#slideShow {
	width: 65%;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.slides {
	position: absolute;
	left: 0;
	top: 0;
	width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
	transition: left 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}

/* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
.slides li:first-child {
	margin-left: 0px;
}

/* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child) {
	float: left;
	margin-right: 100px;
}

.slides li {
	float: left;
	list-style: none;
}

.controller span {
	position: absolute;
	background-color: transparent;
	color: #3d2a26;
	text-align: center;
	border-radius: 50%;
	padding: 10px 20px;
	top: 50%;
	font-size: 1.3em;
	cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover {
	background-color: rgb(169, 169, 169, 0.5);
}

.prev {
	left: 10px;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover {
	transform: translateX(-10px);
}

.next {
	right: 10px;
}

/* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover {
	transform: translateX(10px);
}

.slides>li>img {
	width: 720px;
	height: 500px;
	border-radius: 7px;
}

.price-cal>.price {
	font-weight: bold;
	font-size: 2.0em;
	color: #0B57A2;
	margin-bottom: 15px;
}

.price-cal>.price>label {
	font-size: 0.6em;
	color: black;
}

.price-cal>.calendar {
	border: 2px solid #0B57A2;
	border-radius: 7px;
	margin-bottom: 20px;
}

.price-cal>.calendar>.check-date {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
	font-size: 1.2em;
}

.check-date input {
	display: block;
	width: 100%;
	height: 35px;
	padding: 0 15px;
	border-radius: 7px;
	font-size: 12px;
	border: 2px solid #d3dce6;
	transition: border-color 200ms ease-in-out;
	margin-top: 10px;
}

.check-date input:focus, input:hover, input:active {
	width: 100%;
	outline: none;
	box-shadow: none;
	border-color: #0B57A2;
	margin-top: 10px;
}

.cost-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.cost-btn>#cost-btn {
	width: 90%;
	height: 45px;
}

.content-map {
	display: flex;
	justify-content: space-between;
}

.content-map>.content-wrap {
	width: 100%;
}

.content-map>.content-wrap>.content-detail {
	width: 95%;
	display: flex;
	flex-direction: column;
}

.maxper-type {
	width: 95%;
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.maxper-type>.content-detail {
	width: 50%;
}

.content-map i {
	font-size: 2.5rem;
	margin-left: 3px;
	margin-right: 5px;
	vertical-align: -0.09em;
}

.content-map .title {
	font-weight: bold;
	font-size: 1.5em;
}

.content-map .content {
	font-weight: normal;
}

.maxper-type>.content-detail>.title {
	font-size: 1.5em;
	margin-right: 30px;
}

.maxper-type>.content-detail>.content {
	font-size: 1.5em;
}

.content-map>.map-wrap {
	width: 40%;
	height: 400px;
}

.content-map>.map-wrap>.map {
	width: 100%;
	height: 90%;
	border-radius: 7px;
	border: 2px solid #0B57A2;
}

.comment-wrap {
	width: 100%;
}

.comment-wrap>.comment-title {
	margin-bottom: 10px;
}

.comment-wrap>.comment-title>.title {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.comment-wrap>.comment-title>i {
	color: #FFCD28;
	margin-left: 3px;
	margin-right: 5px;
}

.comment-wrap>.comment>div {
	border: 2px solid #0B57A2;
	border-radius: 7px;
	padding: 10px 0;
	font-size: 1.2em;
	padding-left: 10px;
	color: gray;
}

.host-wrap {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.host-wrap>.photo>img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}

.host-wrap>.content {
	margin-left: 20px;
	width: 74%;
}

.host-wrap>.content>.name {
	font-size: 1.5em;
	color: #0B57A2;
}

#message-btn {
	width: 140%;
	height: 40px;
}

.reser>.reser-price {
	border-radius: 7px;
	border: 2px solid #0B57A2;
	padding: 5% 5%;
	align-items: center;
}

.reser>.reser-price>.room-price {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;
	margin-bottom: 10px;
}

.reser>.reser-price>.tax-price {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;
}

.reser>.reser-price>.all-price {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
	margin-bottom: 20px;
}

#reser-btn {
	width: 100%;
	height: 45px;
}