@charset "UTF-8";

.room-main-wrap {
	display: flex;
	margin-top: 40px;
}

.room-main-wrap>.list {
	width: 40%;
}

.room-main-wrap>.map-wrap {
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 1%;
}

.room-main-wrap>.map-wrap>.map {
	width: 100%;
	height: 500px;
	border-radius: 7px;
	border: 2px solid #0B57A2;
}

.room-main-wrap>.list>.room-list-wrap {
	border: 1px solid black;
}