@charset "UTF-8";

.main-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}  

#main-menu{
	font-size: 45px;
	cursor: pointer;
}

  .dropdown {
    position: relative;
    width: 30%;
  }
  
  .dropdown-button {
    width: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
  }
  
  .dropdown-button:hover {
    opacity: 0.75;
  }
  
  .dropdown-button:focus,
  .dropdown-button:active {
    box-shadow: none;
    outline: none;
  }
  
  .dropdown-button > div {
    width: 100%;
    height: auto;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 8px 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
    transition: transform 200ms ease-in;
  }
  
  .dropdown-menu.active {
    display: block;
  }
  
  .dropdown-menu:hover {
    transform: translateY(2px);
  }
  
  .dropdown-menu a {
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    text-decoration: none;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 8px 0;
  }
  
  .dropdown-menu ul:nth-child(2){
    border-top: 1px solid #e1e4e8;
  }
  
   .dropdown-menu ul:last-child {
    border-top: 1px solid #e1e4e8;
  }
  
  .dropdown-menu ul a {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    text-decoration: none;
  }
  
  .dropdown-menu ul a:hover {
    color: #fff;
    background-color: #0366d6;
  }

.main-buttons{
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.main-buttons button{
	width: 30%;	
	font-size: 1.1em;
}

#loginbtn{
	margin-right: 5%;
	font-weight: bold;
}

#signupbtn{
	font-weight: bold;
}